@media only screen and (max-width: 768px) {
  .home_page .key {
    height: calc(100vh - 60px);
    max-height: 156vw;
    min-height: 320px;
    font-size: 8.75px;
  }
  .home_page .key .key_text .item {
    align-items: flex-end;
    padding: 10px;
    height: calc(100vh - 60px);
    max-height: 156vw;
    min-height: 320px;
  }
  .home_page .key h2,
  .home_page .key p {
    line-height: 2;
  }
  .home_page .key h2 span,
  .home_page .key p span {
    padding: 2px 10px;
  }
  .home_page .key h2 {
    margin-bottom: 4vw;
    font-size: 4vw;
  }
  .home_page .key p {
    font-size: 2.9vw;
  }
  .home_page .key .catch {
    padding-bottom: 6vmin;
    width: 100%;
  }
  .home_page .key .s1 {
    background-image: url(../images/idx_mv01_sp.jpg);
  }
  .home_page .key .s2 {
    background-image: url(../images/idx_mv02_sp.jpg);
  }
  .home_page .key .s3 {
    background-image: url(../images/idx_mv03_sp.jpg);
  }
}
@media only screen and (max-width: 640px) {
  .home_page .key {
    font-size: 1.1vmin;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .home_page .key {
    font-size: 1.1vmin;
  }
  .home_page .key h2 {
    font-size: 5vmin;
  }
  .home_page .key p {
    font-size: 3vmin;
  }
}
@media only screen and (max-width: 480px) {
  .home_page .key h2 {
    font-size: 4.7vw;
  }
  .home_page .key p {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 375px) {
  .home_page .key h2 {
    font-size: 5.5vw;
  }
  .home_page .key h2 .br_375 {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .timetable .note {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .home_page h3 {
    margin-bottom: 30px;
    font-size: calc(var(--ttl_size) + 2px);
  }
}
@media only screen and (max-width: 768px) {
  .index01 {
    padding: 60px 20px;
    background-image: url(../images/idx01_bg_sp.jpg);
  }
  .index01 .timetable {
    margin-bottom: 0;
  }
  .index01 .timetable table {
    font-size: 9px;
  }
  .index01 h3 .en.big {
    font-size: 2em;
  }
  .index01 .label {
    font-size: 7px;
  }
  .index01 .inner_big {
    padding: 60px 7vw 40px;
  }
  .index01 .idx01_box_infor #calendar {
    height: 300px;
    padding: 5px;
  }
  .index01 .idx01_box_infor .box_left,
  .index01 .idx01_box_infor .box_right {
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .index01 .idx01_box_infor .box_right {
    margin-top: 30px;
  }
  .index01 .idx01_box_infor .btn-group {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  .index01 .idx01_box_infor .infor_contact {
    margin-bottom: 30px;
  }
  .index01 .news-group {
    justify-content: center;
  }
  .index01 .news-group .box_news {
    padding: 30px 20px;
  }
  .index01 .box_news {
    width: 100%;
    margin-bottom: 30px;
  }
  .index01 .box_news:last-child {
    margin-bottom: 0;
  }
  .index_banner {
    padding: 40px 10px;
  }
  .index_banner .bnr {
    width: 250px;
  }
  .index07 {
    padding: 40px 20px;
    background-image: url(../images/idx07_bg_sp.jpg);
  }
  .index07 .box {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    padding: 40px !important;
    background-image: url(../images/idx07_box_bg01_sp.jpg);
  }
  .index07 .box:nth-child(2n) {
    background-image: url(../images/idx07_box_bg02_sp.jpg);
  }
  .index07 .box .ttl {
    font-size: 20px;
  }
  .index07 .box .ttl:after {
    margin-left: auto;
    margin-right: auto;
  }
  .index07 .btn-group .btn {
    margin: 0 auto;
  }
  .index08 .idx08_contact {
    padding: 60px 10px;
  }
  .index08 .idx08_contact .address {
    font-size: 16px;
  }
  .index08 .idx08_link .thumb {
    height: 80px;
  }
  .index08 .idx08_link .box {
    font-size: 15px;
  }
}
@media only screen and (max-width: 639px) {
  .index01 .timetable table {
    font-size: 1.4vw;
  }
  .index01 h3 .en.big {
    font-size: 8vw;
  }
}
@media only screen and (max-width: 520px) {
  .index01 .timetable table {
    font-size: 6px;
  }
  .index01 .tbl_note {
    display: block;
  }
  .index08 .idx08_link .col_l,
  .index08 .idx08_link .col_r {
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  .home_page h3 .en.big {
    font-size: 14vw;
  }
  .index01 h3 .en.big {
    font-size: 8vw;
  }
  .index07 .box {
    padding: 40px 5vw !important;
  }
  .index01 .inner_big {
    padding-left: 15px;
    padding-right: 15px;
  }
  .index01 .idx01_box_infor .note {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 375px) {
  .index01 .inner_big {
    padding-left: 10px;
    padding-right: 10px;
  }
  .index01 .idx01_box_infor .infor_contact .tel {
    font-size: 20px;
  }
  .index08 .idx08_contact .address {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .index02 h3 {
    margin-bottom: 15px;
  }
  .index02 .btn-group {
    margin-top: 15px;
  }
  .index02 .btn-group .btn {
    margin: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .index03 {
    padding: 40px 0;
    background-image: url(../images/idx03_bg_sp.jpg);
    background-position: center;
  }
  .index03 .block_trouble_content {
    max-width: 640px;
    width: 95%;
    margin: 0 auto;
    padding: 40px 8%;
  }
  .index03 .block_trouble_content::before {
    font-size: 5.5px;
  }
  .index03 .block_trouble_img {
    max-width: 320px;
    width: 85%;
    margin: 0 auto;
  }
  .index03 .listcheck li {
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .index03 .btn-group .btn {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 425px) {
  .index03 .block_trouble_content::before {
    font-size: 1.302vw;
  }
}
@media only screen and (max-width: 768px) {
  .index04 {
    padding: 40px 0;
  }
  .index04 h4 {
    font-size: 22px;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    line-height: 1.4;
  }
  .index04 .block_reason_item {
    min-height: 355px;
    max-height: 450px;
    height: 90vw;
  }
  .index04 .block_reason_item:nth-child(1) .block_reason_img img {
    object-position: right;
  }
  .index04 .block_reason_item:nth-child(3)::before {
    background-color: #495c2a;
  }
  .index04 .block_reason_item:nth-child(3)::after {
    background-color: #95bb58;
  }
  .index04 .block_reason_item:nth-child(4)::before {
    background-color: #645844;
  }
  .index04 .block_reason_item:nth-child(4)::after {
    background-color: #f8ae33;
  }
  .index04 .block_reason_content {
    padding: 34px 18px 22px;
  }
  .index04 .block_reason_num {
    left: 18px;
    font-size: 10px;
    padding: 1em 1.5em;
  }
  .index04 .block_reason_num span {
    font-size: 300%;
  }
}
@media only screen and (max-width: 374px) {
  .index04 h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .index05 {
    padding: 40px 0;
  }
  .index05 .block_endoscopy {
    padding: 0 20px;
  }
  .index05 .block_endoscopy_content {
    gap: 5px;
  }
  .index05 .block_endoscopy .col {
    padding: 40px 10px 40px;
  }
  .index05 .block_endoscopy .col_left {
    background-image: url(../images/idx05_bg01_sp.jpg);
    background-position: top left;
    border-bottom: 1px solid #503320;
  }
  .index05 .block_endoscopy .col_right {
    background-image: url(../images/idx05_bg02_sp.jpg);
    background-position: top right;
  }
  .index05 .block_endoscopy .item {
    padding: 15px 5px 21px;
    max-width: 190px;
    width: calc(50% - 5px);
  }
  .index05 .block_endoscopy .title {
    font-size: 15px;
    letter-spacing: 0em;
    margin-bottom: 5px;
  }
  .index05 .block_endoscopy_ttl h4 {
    font-size: 22px;
  }
  .index05 .btn-group .btn {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 374px) {
  .index05 .block_endoscopy .title {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .index06 {
    padding: 40px 0;
    background-image: url(../images/idx06_bg_sp.jpg);
  }
  .index06 .block_menu_item {
    width: calc(50% - 16px);
    margin: 8px;
    padding: 18px 15px 18px;
  }
  .index06 .block_menu_item figure {
    margin-right: 2vw;
    max-width: 50px;
  }
  .index06 .block_menu_item .title {
    font-size: 3vw;
    letter-spacing: 0.05em;
  }
  @supports (-webkit-touch-callout: none) {
    .index06 .TabContainer .TabPager {
      /* Specific to iOS devices */
      transform: translateY(0.1px);
    }
  }
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .index06 .TabContainer .TabPager {
        /* Safari */
        transform: translateY(0.1px);
      }
    }
  }
  .index06 .TabContainer .TabPager li {
    padding: 11px 10px 13px;
  }
  .index06 .TabContainer .TabPager li .tt {
    font-size: 18px;
  }
  .index06 .TabContainer .TabContent {
    border-radius: 15px;
    position: relative;
  }
  .index06 .TabContainer .TabContent > ul > li {
    padding: 20px 15px 20px;
  }
}
@media only screen and (max-width: 450px) {
  .index06 .block_menu_item {
    width: 100%;
  }
  .index06 .block_menu_item .title {
    font-size: 18px;
  }
  .index06 .TabContainer .TabPager li .tt {
    font-size: 18px;
  }
}
@media only screen and (max-width: 375px) {
  .index06 .TabContainer .TabPager li .tt {
    font-size: 16px;
  }
  .index05 .block_endoscopy .col_left {
    background-position: left -60px top;
  }
  .index05 .block_endoscopy .col_right {
    background-position: right -60px top;
  }
}
@media only screen and (max-width: 768px) {
  .idx_gallery ul li .img {
    width: 220px;
    height: 220px;
    background-size: 100% auto;
  }
}

/*# sourceMappingURL=index_sp.css.map */