.home_page .key {
  background-color: var(--main-color);
  background-size: cover;
  height: 57vw;
  min-height: 690px;
  max-height: 980px;
  overflow: hidden;
  font-size: 10px;
}
.home_page .key .inner {
  position: relative;
  height: 100%;
  padding: 0;
}
.home_page .key .key_text {
  position: relative;
  width: 100%;
  height: 100%;
}
.home_page .key .key_text .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 56vw;
  min-height: 690px;
  max-height: 980px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .home_page .key .key_text .catch {
    padding-top: 13.7vw;
  }
}
.home_page .key h2,
.home_page .key p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-family: var(--f-jp);
  letter-spacing: 0.15em;
  line-height: 1.87;
  text-align: center;
}
.home_page .key h2 span,
.home_page .key p span {
  text-align: center;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.home_page .key h2 {
  margin-bottom: 0.57143em;
  font-size: 4.2em;
}
.home_page .key h2 span {
  background-color: rgba(247, 169, 79, 0.9);
  margin-bottom: 0.309524em;
  padding: 2px 31px 4px 36px;
  max-height: 66px;
}
.home_page .key p {
  font-size: 2.6em;
  line-height: 2.3;
}
.home_page .key p span {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-color: white;
  color: var(--clr2);
  padding: 0.19231em 0.80769em 0.30769em;
}
.home_page .topic_path {
  display: none;
}
.home_page h3 {
  position: relative;
  display: table;
  margin: 0 auto 35px;
  padding-top: 0.3571428em;
  color: var(--clr1);
  font-family: var(--f-jp);
  font-size: calc(var(--ttl_size) + 14px);
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2em;
  background: url(../images/h3_ico.png) no-repeat top left 50%/0.785714em auto;
}
.home_page h3 .en {
  color: var(--main-color);
  font-weight: 500;
  text-transform: uppercase;
}
.home_page h3 .en.big {
  display: block;
  margin-bottom: -0.8em;
  font-size: 2.380952em;
  letter-spacing: 0.06em;
  font-weight: 500;
  line-height: 0.8;
  color: var(--second-color);
  opacity: 10%;
}
.home_page h3 .en.sm {
  display: block;
  margin-top: -6px;
  font-size: 0.52381em;
  color: var(--second-color);
  font-weight: 300;
  letter-spacing: 0.2em;
}
.home_page h3.white {
  color: #fff;
  background-image: url(../images/h3_ico_white.png);
}
.home_page h3.white .en {
  color: #fff;
}
.home_page h4 {
  color: white;
  font-size: calc(var(--ttl_size) - 2px);
  letter-spacing: 0.2em;
  font-weight: 400;
  font-family: var(--f-jp);
}

@media only screen and (min-width: 1441px) {
  .home_page h3 .en.big {
    margin-left: -10px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .home_page .key {
    font-size: 8px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .home_page .key {
    font-size: 0.7vw;
  }
}
@media only screen and (min-width: 769px) {
  .home_page .key .s1 {
    background-image: url(../images/idx_mv01.jpg);
  }
}
section {
  background-size: cover;
  background-repeat: no-repeat;
}

.timetable table {
  font-size: 10px;
  margin-bottom: 10px;
}
.timetable table th,
.timetable table td {
  border: none;
  letter-spacing: 0.05em;
  font-size: 1.5em;
  line-height: 1.6;
}
.timetable table th:first-child,
.timetable table td:first-child {
  width: 30%;
  padding-left: 4.2%;
}
.timetable table th:nth-child(2),
.timetable table td:nth-child(2) {
  width: 23%;
}
.timetable table th:nth-child(n+3),
.timetable table td:nth-child(n+3) {
  width: 7.83%;
  padding-left: 0.3333em;
}
.timetable table th {
  background-color: #fcd626;
  font-weight: 600;
  padding: 0.666667em 0.66667em 0.533333em;
  text-align: left;
}
.timetable table td {
  background-color: #fff8dc;
  padding: 0.666667em 0.66667em 0.466667em;
}
.timetable table td:first-child {
  font-weight: 600;
}
.timetable table tr:not(:first-child, :last-child) {
  border-bottom: 1px solid #dcd1a4;
}
.timetable table tr:last-child td {
  padding-bottom: 1.1333333em;
}

@media only screen and (max-width: 1366px) and (min-width: 769px) {
  .timetable table {
    font-size: 0.7vw;
  }
}
.index01 {
  padding: 80px 40px;
  background-image: url(../images/idx01_bg.jpg);
}
.index01 .rwdFrame {
  position: relative;
  width: 100%;
  padding: 80% 0 0;
}
.index01 .rwdFrame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.index01 .inner_big {
  position: relative;
  padding: 66px 61px 61px 55px;
  max-width: 1280px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}
.index01 h3 {
  margin-bottom: 28px;
}
.index01 h3 .en.big {
  letter-spacing: 0.1em;
}
@media only screen and (min-width: 769px) {
  .index01 h3 {
    padding-left: 6px;
  }
}
.index01 .label {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s;
  z-index: 0;
  right: -1.6em;
  top: -4.6em;
  width: 14em;
  height: 14em;
  border-radius: 50%;
  font-size: 10px;
  background-color: #f8b847;
}
.index01 .label:after, .index01 .label:before {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.index01 .label:before {
  background-color: var(--second-color);
  border-radius: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 22%, 0 80%);
}
.index01 .label:after {
  background-image: url(../images/idx01_label_ico.png);
  background-repeat: no-repeat;
  background-size: 8.1em auto;
  background-position: center;
}
.index01 .tbl_note {
  display: none;
}
.index01 .idx01_box_infor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.index01 .idx01_box_infor .box_left {
  width: 48%;
}
.index01 .idx01_box_infor .infor_contact {
  margin-bottom: 39px;
}
.index01 .idx01_box_infor .infor_contact dl {
  display: flex;
  padding: 1.1875em 0.625em 0.875em 0.625em;
  border-bottom: 1px solid #dddddd;
}
.index01 .idx01_box_infor .infor_contact dl:first-child {
  padding-top: 0.6875em;
}
.index01 .idx01_box_infor .infor_contact dl dt,
.index01 .idx01_box_infor .infor_contact dl dd {
  line-height: 1.875;
}
.index01 .idx01_box_infor .infor_contact dl dt {
  font-weight: 600;
  width: 6.3em;
  padding-right: 0.5em;
}
.index01 .idx01_box_infor .infor_contact dl dd {
  letter-spacing: 0.1em;
  flex: 1;
}
.index01 .idx01_box_infor .infor_contact .tel {
  color: var(--main-color);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.1;
}
.index01 .idx01_box_infor #calendar {
  padding: 5px 0px 2px 10px;
  height: 60vw;
  max-height: 450px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.index01 .idx01_box_infor .box_right {
  width: 50%;
  max-width: 560px;
  margin-top: 5px;
}
.index01 .idx01_box_infor .timetable {
  margin-bottom: 10px;
}
.index01 .idx01_box_infor .timetable table {
  margin-bottom: 18px;
}
.index01 .idx01_box_infor .note {
  margin-left: 13px;
}
@media only screen and (min-width: 769px) {
  .index01 .idx01_box_infor .note {
    font-size: 15px;
  }
}
.index01 .idx01_box_infor .btn-group {
  display: flex;
  justify-content: center;
  margin-top: 29px;
  flex-wrap: wrap;
}
@media only screen and (min-width: 769px) {
  .index01 .idx01_box_infor .btn-group .btn01 {
    max-width: 250px;
    width: 45%;
    margin-right: 15px;
  }
  .index01 .idx01_box_infor .btn-group .btn02 {
    max-width: 295px;
    width: calc(55% - 15px);
  }
}
.index01 .news-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (min-width: 769px) {
  .index01 .news-group {
    padding-left: 4px;
  }
}
.index01 .box_news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 40px 41px;
  width: 48.4%;
  max-width: 560px;
}
.index01 .box_news.box01 {
  background-color: #c2a88d;
}
.index01 .box_news.box02 {
  background-color: var(--main-color);
}
.index01 .box_news h4 {
  margin-bottom: 9px;
}
.index01 .box_news .list_post {
  width: 100%;
  margin-bottom: 17px;
}
.index01 .box_news .list_post li {
  color: white;
}
.index01 .box_news .list_post li:first-child a {
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  padding: 1.625em 0.625em 1.0625em;
}
.index01 .box_news .list_post a {
  color: white;
  display: flex;
  text-decoration: none;
  padding: 1.0625em 0px 1.125em 0.75em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.index01 .box_news .list_post .title {
  width: calc(100% - 7.3em);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 10px;
}
.index01 .box_news .list_post .date {
  width: 7.3em;
}
.index01 .box_news .btn-group {
  width: 100%;
}
.index01 .box_news .btn-group .btn {
  margin: 0 auto;
}

.index02 {
  padding: 79px 0 122px;
  background-image: url(../images/idx02_bg01.png), url(../images/idx02_bg02.png);
  background-repeat: no-repeat;
  background-position: top left, top right;
  background-size: auto;
}
.index02 h3 {
  margin-bottom: 25px;
}
.index02 .block_greeting {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
.index02 .btn-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 38px;
}
.index02 .btn-group .btn {
  margin: 20px 21px;
}

@media only screen and (min-width: 769px) {
  .index02 .btn-group .btn {
    width: calc(50% - 42px);
  }
}
@media only screen and (max-width: 1700px) and (min-width: 769px) {
  .index02 {
    padding-bottom: 80px;
    background-position: left -8vw top, right -14vw top;
    background-size: auto 100%, auto 100%;
  }
  .index02 .block_greeting {
    width: 80%;
  }
  .index02 .btn-group {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 769px) {
  .index02 {
    background-position: left -15vw top, right -23vw top;
  }
  .index02 .block_greeting {
    max-width: 500px;
  }
  .index02 .btn-group .btn {
    width: calc(50% - 20px);
    margin: 15px 10px;
  }
}
@media only screen and (max-width: 1000px) {
  .index02 {
    background-position: left 0 top, right 0 top;
    background-size: auto 47vw;
    padding-top: 47vw;
    padding-bottom: 0;
    background-color: #fdf6ef;
  }
  .index02 .inner_big {
    padding: 50px 10px 60px;
    background: url(../images/idx02_bg_sp.jpg) no-repeat center/cover;
  }
  .index02 .block_greeting {
    max-width: 700px;
  }
}
.index03 {
  padding: 88px 0 0;
  background: url(../images/idx03_bg.jpg) no-repeat left center/cover;
}
.index03 .block_trouble_img {
  position: relative;
  z-index: 1;
}
.index03 .block_trouble_content {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  padding: 65px 74px 69px 74px;
  border-radius: 16px;
  background-color: #fff;
  position: relative;
  z-index: 0;
}
.index03 .block_trouble_content::before {
  content: "";
  position: absolute;
  top: -6.3em;
  right: -4em;
  width: 15em;
  height: 13.1em;
  font-size: 10px;
  background: url(../images/idx03_icon.png) no-repeat center/contain;
}
.index03 .listcheck li {
  position: relative;
  padding-left: 1.95em;
  padding-bottom: 0.5em;
  font-size: 20px;
  letter-spacing: 0.15em;
}
.index03 .listcheck li::before, .index03 .listcheck li::after {
  content: "";
  position: absolute;
}
.index03 .listcheck li::before {
  top: 0.05em;
  left: 0;
  width: 1.35em;
  height: 1.2em;
  background: url(../images/shared_icon_listcheck.svg) no-repeat center/contain;
}
.index03 .listcheck li::after {
  width: 100%;
  height: 0.1em;
  background: url(../images/dot.png) repeat-x bottom center/0.3em auto;
  bottom: -0.1em;
  left: 0;
}
.index03 .listcheck li:not(:last-child) {
  margin-bottom: 0.8em;
}
.index03 .btn-group .btn {
  margin: 39px auto 0;
}

@media only screen and (min-width: 769px) {
  .index03 .block_trouble {
    display: flex;
    align-items: flex-start;
  }
  .index03 .block_trouble_img {
    max-width: 754px;
    width: 59%;
    margin-left: -168px;
    margin-top: -62px;
    align-self: flex-end;
  }
  .index03 .block_trouble_content {
    max-width: 760px;
    width: calc(50% + 120px);
    margin-left: -66px;
    margin-bottom: 50px;
  }
  .index03 .listcheck {
    padding-left: 11px;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 769px) {
  .index03 .block_trouble_content {
    width: calc(55% + 120px);
    padding: 60px;
  }
  .index03 .block_trouble_content::before {
    font-size: 8px;
  }
  .index03 .listcheck li {
    font-size: 18px;
  }
}
.index04 {
  padding: 85px 0 79px;
  background: url(../images/idx04_bg.jpg) no-repeat center/cover;
}
.index04 h3 {
  margin-bottom: 32px;
}
.index04 h4 {
  font-size: 26px;
  font-family: var(--f-jp);
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 1.615384;
  margin-bottom: 18px;
}
.index04 .block_reason_item {
  position: relative;
  z-index: 0;
  color: #fff;
  min-height: 450px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1px;
}
.index04 .block_reason_item::before, .index04 .block_reason_item::after {
  content: "";
  position: absolute;
  z-index: 0;
}
.index04 .block_reason_item::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.index04 .block_reason_item::after {
  right: 0;
  top: 0;
  height: 100%;
  width: 23px;
  -webkit-mask-image: url(../images/idx04_line.svg);
  mask-image: url(../images/idx04_line.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: right top;
  mask-position: right top;
}
.index04 .block_reason_item.bg_green::before {
  background-color: #495c2a;
}
.index04 .block_reason_item.bg_green::after {
  background-color: #95bb58;
}
.index04 .block_reason_item.bg_green .block_reason_num::before {
  background-color: #95bb58;
}
.index04 .block_reason_item.bg_orange::before {
  background-color: #645844;
}
.index04 .block_reason_item.bg_orange::after {
  background-color: #f8ae33;
}
.index04 .block_reason_item.bg_orange .block_reason_num::before {
  background-color: #f8ae33;
}
.index04 .block_reason_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.index04 .block_reason_img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.index04 .block_reason_content {
  position: relative;
  z-index: 1;
  padding: 50px 32px 35px;
}
.index04 .block_reason_content p, .index04 .block_reason_content h4 {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.index04 .block_reason_num {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 33px;
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.1));
  text-align: center;
  font-size: 12px;
  padding: 1.58333333em 1.9166666667em 1.58333333em 1.9166666667em;
  letter-spacing: 0.1em;
}
.index04 .block_reason_num::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 50% 92%, 0 100%, 0 0);
  z-index: -1;
}
.index04 .block_reason_num span {
  display: block;
  line-height: 1;
  font-size: 400%;
}

@media only screen and (min-width: 769px) {
  .index04 .inner_big {
    max-width: 1460px;
  }
  .index04 .block_reason {
    display: flex;
    flex-wrap: wrap;
  }
  .index04 .block_reason_item:nth-child(2n+2) {
    margin-left: 1px;
  }
  .index04 .block_reason_item.bg_green {
    width: 55.56%;
    max-width: 800px;
  }
  .index04 .block_reason_item.bg_orange {
    width: calc(44.44% - 1px);
    max-width: 639px;
  }
  .index04 .block_reason_content {
    max-width: 632px;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 769px) {
  .index04 h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .index04 .block_reason_item {
    min-height: 395px;
  }
  .index04 .block_reason_item:nth-child(1) .block_reason_img img {
    object-position: right;
  }
  .index04 .block_reason_content {
    padding: 34px 18px 22px;
  }
  .index04 .block_reason_num {
    font-size: 10px;
  }
}
.index05 {
  padding: 62px 0 79px;
}
.index05 h3 {
  margin-bottom: 31px;
}
.index05 .block_endoscopy {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 50px;
}
.index05 .block_endoscopy .col {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 56px 20px 53px;
}
.index05 .block_endoscopy .col_left {
  background-image: url(../images/idx05_bg01.jpg);
  background-position: left center;
}
.index05 .block_endoscopy .col_left .title {
  color: var(--second-color);
}
.index05 .block_endoscopy .col_left .block_endoscopy_ttl figure {
  background-color: var(--second-color);
}
.index05 .block_endoscopy .col_left .block_endoscopy_content .item::after {
  background-color: var(--second-color);
}
.index05 .block_endoscopy .col_right {
  background-image: url(../images/idx05_bg02.jpg);
  background-position: right center;
}
.index05 .block_endoscopy .col_right .title {
  color: var(--main-color);
}
.index05 .block_endoscopy .col_right .block_endoscopy_ttl figure {
  background-color: var(--main-color);
}
.index05 .block_endoscopy .col_right .block_endoscopy_content .item::after {
  background-color: var(--main-color);
}
.index05 .block_endoscopy_ttl {
  text-align: center;
  margin-bottom: 16px;
}
.index05 .block_endoscopy_ttl figure {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 6px;
}
.index05 .block_endoscopy_ttl h4 {
  color: #fff;
  font-family: var(--f-jp);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.index05 .block_endoscopy_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.index05 .block_endoscopy_content .item {
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 15px 10px 26px;
  position: relative;
  transition: 0.3s all;
}
.index05 .block_endoscopy_content .item::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: -1px;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  -webkit-mask-image: url(../images/idx05_arr.png);
  mask-image: url(../images/idx05_arr.png);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.index05 .block_endoscopy .title {
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.4;
  font-family: var(--f-mincho);
  transition: 0.3s all;
  margin-top: 5px;
}
.index05 .btn-group .btn {
  margin: 40px auto 0;
}

@media only screen and (min-width: 769px) {
  .index05 .block_endoscopy .col {
    width: 50%;
  }
  .index05 .block_endoscopy .col_left {
    border-right: 1px solid #503320;
  }
  .index05 .block_endoscopy .col_left .box_in {
    margin-left: auto;
  }
  .index05 .block_endoscopy .col_left .block_endoscopy_content .item:hover {
    background-color: rgba(248, 174, 51, 0.9);
  }
  .index05 .block_endoscopy .col_left .block_endoscopy_content .item:hover::after {
    background-color: #fff;
  }
  .index05 .block_endoscopy .col_right .block_endoscopy_content .item:hover {
    background-color: rgba(149, 187, 88, 0.9);
  }
  .index05 .block_endoscopy .col_right .block_endoscopy_content .item:hover::after {
    background-color: #fff;
  }
  .index05 .block_endoscopy .col .box_in {
    max-width: 599px;
    width: 100%;
  }
  .index05 .block_endoscopy_content .item {
    width: calc(33.3333333333% - 10px);
    max-width: 190px;
  }
  .index05 .block_endoscopy_content .item:hover .title {
    color: #fff;
  }
  .index05 .block_endoscopy_content .item:hover figure {
    filter: brightness(0) invert(1);
  }
}
@media only screen and (max-width: 1380px) and (min-width: 769px) {
  .index05 .block_endoscopy {
    padding: 0 30px;
  }
  .index05 .block_endoscopy_ttl h4 {
    font-size: 26px;
  }
  .index05 .block_endoscopy .item {
    padding: 15px 5px 21px;
  }
  .index05 .block_endoscopy .title {
    font-size: 15px;
    letter-spacing: 0em;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 769px) {
  .index05 .block_endoscopy .item {
    width: calc(50% - 10px);
  }
}
.index06 {
  background: url(../images/idx06_bg.jpg) no-repeat center/cover;
  padding: 63px 0 81px;
}
.index06 h3 {
  margin-bottom: 31px;
}
.index06 .block_menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.index06 .block_menu_item {
  width: calc(33.3333333333% - 30px);
  max-width: 360px;
  margin: 15px;
  background-color: #fff;
  border: 1px solid #f7a94f;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 23px 24px 23px;
  position: relative;
}
.index06 .block_menu_item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 9px;
  top: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  -webkit-mask-image: url(../images/idx05_arr.png);
  mask-image: url(../images/idx05_arr.png);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #f7a94f;
}
.index06 .block_menu_item figure {
  margin-right: 22px;
}
.index06 .block_menu_item .title {
  font-size: 24px;
  font-family: var(--f-jp);
  line-height: 1.25;
}
.index06 .TabContainer .TabPager {
  justify-content: center;
  position: relative;
  z-index: 3;
  padding: 0 15px;
}
.index06 .TabContainer .TabPager li {
  box-shadow: none;
  background-color: #cacaca;
  border-radius: 4px 4px 0 0;
  margin: 0 1px;
  color: #fff;
  max-width: 400px;
  width: calc(50% - 1px);
  padding: 11px 20px 13px;
}
.index06 .TabContainer .TabPager li::before {
  content: "";
  position: absolute;
  bottom: -7px;
  opacity: 0;
  left: 0;
  right: 0;
  width: 21px;
  height: 7px;
  background-color: #f7a94f;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  margin: auto;
  transform: translateY(-10px);
  transition: 0.3s all;
  z-index: -1;
}
.index06 .TabContainer .TabPager li .tt {
  font-size: 24px;
  font-family: var(--f-jp);
  font-weight: 500;
  letter-spacing: 0.1em;
}
.index06 .TabContainer .TabPager li.active {
  background-color: #f7a94f;
}
.index06 .TabContainer .TabPager li.active::before {
  transform: translateY(0px);
  opacity: 1;
}
.index06 .TabContainer .TabContent {
  border: 2px solid #f7a94f;
  background-color: #faf8f5;
  border-radius: 30px;
}
.index06 .TabContainer .TabContent li {
  padding: 51px 50px 45px;
}

@media only screen and (max-width: 1400px) and (min-width: 769px) {
  .index06 .block_menu_item {
    padding: 20px 20px 20px;
    margin: 10px;
  }
  .index06 .block_menu_item figure {
    margin-right: 15px;
  }
  .index06 .block_menu_item .title {
    font-size: 20px;
  }
  .index06 .TabContainer .TabContent li {
    padding: 45px 30px;
  }
  .index06 .TabContainer .TabPager li .tt {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 769px) {
  .index06 .block_menu_item figure {
    max-width: 50px;
  }
  .index06 .block_menu_item .title {
    letter-spacing: 0;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 769px) {
  .index06 .block_menu_item {
    width: calc(50% - 20px);
  }
}
.index07 {
  background: url(../images/idx07_bg.jpg) no-repeat center/cover;
  padding: 23px 45px 80px;
}
.index07 h3 {
  margin-bottom: 32px;
}
.index07 .box-group {
  display: flex;
  flex-wrap: wrap;
}
.index07 .box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  padding-right: 5.8vw;
  min-height: 500px;
  --mode-color: #f8ae33;
  background: url(../images/idx07_box_bg01.jpg) no-repeat center/cover;
}
.index07 .box .content {
  padding-bottom: 10px;
  width: 100%;
  max-width: 526px;
}
.index07 .box .ttl {
  position: relative;
  margin-bottom: 24px;
  font-size: 22px;
  letter-spacing: 0.2em;
  line-height: 1.636363;
  font-family: var(--f-jp);
  color: var(--clr2);
}
.index07 .box .ttl::after {
  content: "";
  display: block;
  margin-top: 0.72727em;
  width: 4.54545em;
  height: 2px;
  background-color: var(--mode-color);
}
.index07 .box .box_body {
  margin-bottom: 22px;
}
.index07 .box .btn.style01 a {
  background-color: var(--mode-color);
}
.index07 .box:nth-child(2n) {
  --mode-color: #95bb58;
  justify-content: flex-start;
  padding-right: 40px;
  padding-left: 4.8vw;
  background-image: url(../images/idx07_box_bg02.jpg);
}

.index_banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 43px 10px 55px;
}
.index_banner .bnr {
  position: relative;
  margin: 5px 12px;
  width: 310px;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  .index_banner .bnr.bnr01 {
    padding-right: 5px;
  }
}

@keyframes idx08_bg {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -1920px center;
  }
}
.index08 h3 {
  margin-bottom: 22px;
}
.index08 .idx08_contact {
  background: url(../images/idx_contact_bg.jpg) repeat-x;
  padding: 151px 10px 150px;
  max-height: 500px;
  background-position: center;
  background-size: auto 100%;
  animation: idx08_bg 50s linear infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index08 .idx08_contact .address {
  color: white;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-align: center;
  font-family: var(--f-jp);
}
.index08 .idx08_link {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index08 .idx08_link .col_l,
.index08 .idx08_link .col_r {
  width: 50%;
  position: relative;
}
.index08 .idx08_link .col_l:after,
.index08 .idx08_link .col_r:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.index08 .idx08_link .col_l:after {
  background-color: var(--main-color);
}
.index08 .idx08_link .col_l .thumb {
  margin-left: auto;
  max-width: 637px;
}
.index08 .idx08_link .col_r:after {
  background-color: var(--second-color);
}
.index08 .idx08_link .col_r .thumb {
  margin-right: auto;
  max-width: 660px;
}
.index08 .idx08_link .thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}
.index08 .idx08_link .box {
  display: table;
  margin: auto;
  background-repeat: no-repeat;
  font-size: 18px;
  letter-spacing: 0.2em;
  padding-top: 0.38889em;
  color: white;
}
.index08 .idx08_link .box .note {
  margin-bottom: 2px;
  line-height: 1;
  text-align: center;
}
.index08 .idx08_link .box .ttl {
  font-size: 2em;
  line-height: 1.2;
  letter-spacing: 0.1em;
  display: table;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0.722222em auto;
}
.index08 .idx08_link .box .ttl.tel {
  padding-left: 0.88889em;
  background-image: url(../images/idx_contact_tel_ico.png);
}
.index08 .idx08_link .box .ttl.web {
  padding-left: 1.26667em;
  font-size: 1.66667em;
  background-image: url(../images/idx_contact_web_ico.png);
  background-position: left top 2px;
  background-size: 0.866667em auto;
}

.idx_map {
  height: 450px;
}
.idx_map iframe {
  height: 100%;
}

@media only screen and (max-width: 1366px) and (min-width: 769px) {
  .index01 .inner_big {
    padding: 60px 30px;
  }
  .index01 .idx01_box_infor .btn-group {
    font-size: 8px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  :root {
    --ttl_size: 24px;
  }
  .index07 .box {
    padding: 40px;
    padding-right: 20px;
  }
  .index07 .box:nth-child(2n) {
    padding-left: 20px;
  }
  .index07 .box .btn-group {
    font-size: 9px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .index01 .timetable table {
    font-size: 9px;
  }
  .index01 .idx01_box_infor .box_left,
  .index01 .idx01_box_infor .box_right {
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .index01 .idx01_box_infor .box_right {
    margin-top: 60px;
  }
  .index01 .news-group .box_news {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 992px) and (min-width: 769px) {
  :root {
    --ttl_size: 22px;
  }
}

/*# sourceMappingURL=index_pc.css.map */