@media only screen and (max-width: 768px) {
  .under #mainContent {
    padding-bottom: 50px;
  }
  .under .key {
    margin-top: 0;
    height: 300px;
    background-image: url(../images/und_key_bg_sp.jpg);
  }
  .under .key .key_text {
    padding: 10px;
  }
  .under .key h2 {
    font-size: var(--ttl_size);
  }
  .under h3 {
    margin-bottom: 25px;
    font-size: calc(var(--ttl_size) - 2px);
  }
  .under h4 {
    margin-bottom: 20px;
    font-size: calc(var(--ttl_size) - 4px);
  }
  .under h5 {
    margin-bottom: 15px;
    font-size: calc(var(--ttl_size) - 6px);
  }
  .under h6 {
    margin-bottom: 10px;
    font-size: calc(var(--ttl_size) - 8px);
  }
}
@media only screen and (max-width: 768px) {
  .under .inner > section:first-child > h3 {
    margin-top: 81px;
  }
  .under section {
    padding-top: 1px;
  }
  .under section h3 {
    margin-top: 60px;
  }
  .under .secH4 {
    padding-top: 40px;
  }
  .under .secH5 {
    padding-top: 30px;
  }
  .under .toc_list {
    padding: 30px 20px;
  }
  .under .toc_list li {
    width: 100%;
  }
  .under .imgBox.rowImg .image_l,
  .under .imgBox.rowImg .image_r {
    float: none;
    width: auto;
    margin: 0 auto 20px;
    text-align: center;
    max-width: none;
  }
  .under .imgBox.rowImg .image_l:nth-child(n),
  .under .imgBox.rowImg .image_r:nth-child(n) {
    max-width: none;
  }
  .under .imgBox.rowImg .txt_l,
  .under .imgBox.rowImg .txt_r {
    float: none;
    width: auto;
  }
  .under .imgBox.rowImg.large .image_l,
  .under .imgBox.rowImg.large .image_r {
    max-width: none;
  }
  .under .imgBox.rowImg.large .txt_l,
  .under .imgBox.rowImg.large .txt_r {
    width: auto;
  }
  .under .imgBox.colImg .item:not(:last-of-type) {
    margin-bottom: 30px;
  }
  .under .imgBox.colImg figure {
    margin-bottom: 15px;
  }
  .under .imgBox.colImg .text {
    font-size: 14px;
  }
  .under .imgBox.colImg2 .item, .under .imgBox.colImg3 .item {
    width: 100%;
  }
  .under .imgBox.colImg2 picture, .under .imgBox.colImg3 picture {
    height: auto;
    min-height: 200px;
  }
  .under .imgBox.colImg2 img, .under .imgBox.colImg3 img {
    max-height: 500px;
  }
  .under .acf_block h3 {
    margin-bottom: 0;
  }
  .under .acf_block .text_h3 {
    margin: 25px 0 0;
  }
  .under .acf_block .text_h4 {
    margin: 20px 0 0;
  }
  .under .acf_block .text_h5 {
    margin: 15px 0 0;
  }
  @supports (-webkit-touch-callout: none) {
    .under .clinic_tbl02 {
      /* Specific to iOS devices */
    }
    .under .clinic_tbl02 td {
      border-top-width: 0;
    }
  }
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .under .clinic_tbl02 {
        /* Safari */
      }
      .under .clinic_tbl02 td {
        border-top-width: 0;
      }
    }
  }
  .under .clinic_tbl02 th:first-child {
    width: 200px;
  }
  .under table.rollTable {
    width: 768px;
  }
  @supports (-webkit-touch-callout: none) {
    .under table.tbl_style01 {
      /* Specific to iOS devices */
    }
    .under table.tbl_style01 tr:last-child th,
    .under table.tbl_style01 tr:last-child td {
      border-bottom-width: 1.4px;
    }
  }
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .under table.tbl_style01 {
        /* Safari */
      }
      .under table.tbl_style01 tr:last-child th,
      .under table.tbl_style01 tr:last-child td {
        border-bottom-width: 1.4px;
      }
    }
  }
  .under table.resTable {
    display: block;
  }
  .under table.resTable tbody,
  .under table.resTable tr,
  .under table.resTable th,
  .under table.resTable td {
    display: block;
  }
  .under table.resTable td:not(:last-child) {
    border-bottom: 0;
  }
  .under table.resTable.tbl_style01.colHead tr th {
    border: 1px solid var(--main-color);
    border-bottom: none;
  }
  .under table.resTable.tbl_style01.colHead tr:not(:first-child) th {
    border-top: none;
  }
  .under table.resTable.tbl_style02.colHead th {
    border-bottom: none;
  }
  .under table.resTable.tbl_style02.colHead tr:not(:last-child) td {
    border-bottom: none;
  }
  .under .tbl_note {
    display: block;
  }
  .under ul.list01 li {
    font-size: 16px;
    line-height: 1.8;
  }
  .under ul.list01 li:before {
    width: 9px;
    height: 9px;
    top: 0.5em;
  }
  .under ul.list01.mcol-2 li {
    width: 100%;
    padding-bottom: 9px;
    padding-right: 0;
  }
  .under ul.list01.mcol-2 li:last-child {
    padding-bottom: 0;
  }
  .under .doctor_box {
    padding: 0vw;
  }
  .under .doctor_box .doctor_name {
    bottom: 3.5vw;
    right: 3.5vw;
    font-size: 4vw;
    padding: 3vw 2vw;
  }
}
@media only screen and (max-width: 375px) {
  .under .imgBox.colImg2 .item, .under .imgBox.colImg3 .item {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .under .und_flow {
    font-size: 9px;
  }
  .under .flow_box {
    margin-bottom: 45px;
  }
  .under .flow_box:before {
    bottom: -1.4em;
    left: 50%;
    transform: translateX(-50%);
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    border-top: 2.5em solid var(--mode-color);
  }
  .under .flow_box .box_body:after {
    font-size: 10em;
    bottom: 0;
  }
  .under .flow_box .box_body p {
    font-size: 14px;
  }
  .under .und_feature {
    font-size: 9px;
  }
  .under .feature_box {
    padding: 40px;
    padding-left: 12em;
    margin-bottom: 45px;
  }
  .under .feature_box .point {
    font-size: 1.2em;
  }
  .under .feature_box .box_ct p {
    font-size: 14px;
  }
  .under .feature_box .box_ct .head {
    margin-bottom: 20px;
  }
  .under .ud_map {
    height: 299px;
  }
  .under .exp li {
    line-height: 1.8;
  }
}
@media only screen and (max-width: 520px) {
  .under .flow_box {
    padding: 6em 25px 7em 7em;
  }
}
@media only screen and (max-width: 425px) {
  .under .feature_box {
    padding: 30px;
  }
  .under .feature_box .point {
    font-size: 1em;
  }
  .under .feature_box .box_ct .head {
    padding-left: 7em;
  }
}
@media only screen and (max-width: 768px) {
  .under .blog_post_button {
    margin-top: 50px;
  }
  .under .clinic_tbl01 th {
    width: auto;
    text-align: left;
  }
  .under .teeth_box .secH4 {
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  .under .access_box_img01 .block:nth-child(even) .big,
  .under .access_box_img02 .block:nth-child(even) .big {
    order: 0;
  }
  .under .access_box_img01 .block .big,
  .under .access_box_img01 .block .small,
  .under .access_box_img02 .block .big,
  .under .access_box_img02 .block .small {
    width: 100%;
  }
}
/*INTERVIEW PAGE*/
@media only screen and (max-width: 768px) {
  .under.page-interview {
    counter-reset: count;
  }
  .under.page-interview .key {
    height: 450px;
  }
  .under.page-interview .key .key_text {
    padding: 10px 10px 5vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .under.page-interview .key .catch {
    font-size: 8.75px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .under.page-interview .key .catch .idx_en,
  .under.page-interview .key .catch h2 {
    margin-left: auto;
    margin-right: auto;
  }
  .under.page-interview .key .catch h2,
  .under.page-interview .key .catch p {
    text-align: center;
  }
  .interview_catch {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .interview_catch p {
    font-size: 20px;
    line-height: 1.4;
  }
  .interview_catch.fz20 {
    margin-top: 40px;
  }
  .interview_catch.fz20 p {
    font-size: 17px;
    line-height: 1.6;
  }
  .interview_content, .interview_img {
    width: 100%;
  }
  .interview_content {
    max-width: 590px;
    margin: 0 auto;
  }
  .interview_img {
    margin-bottom: 25px;
  }
  .interview_img:before {
    left: 20px;
    font-size: 70px;
  }
  .interview_box {
    margin-bottom: 50px;
  }
  .interview_box.box_left .interview_content {
    margin-left: auto;
  }
  .interview_box.box_right .interview_content {
    margin-right: auto;
  }
}
@media only screen and (max-width: 480px) {
  .under.page-interview .key .catch {
    font-size: 1.5vw;
  }
  .under.page-interview .key .name .en {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=under_sp.css.map */