@charset "UTF-8";
@import "_mixin";

@media only screen and (max-width: 768px) {
    .home_page {
        .key {
            height: calc(100vh - 60px);
            max-height: 156vw;
            min-height: 320px;
            font-size: 8.75px;

            .key_text {


                .item {
                    align-items: flex-end;
                    padding: 10px;
                    height: calc(100vh - 60px);
                    max-height: 156vw;
                    min-height: 320px;
                }
            }

            .catch {
                padding-bottom: 4vw;
            }

            .s1 {
                background-image: url(../images/idx_mv01_sp.jpg);
            }

            .slick-initialized .s2 {
                //	background-image: url(../images/idx_mv02_sp.jpg);
            }

            .slick-initialized .s3 {
                //	background-image: url(../images/idx_mv03_sp.jpg);
            }



        }
    }
}

@media only screen and (max-width: 640px) {
    .home_page .key {
        font-size: 1.1vmin;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .home_page .key {
        font-size: 1.1vmin;
    }
}

//component
@media only screen and (max-width: 768px) {
    .timetable {
        .note {
            margin-left: 5px;
        }
    }
}

// End Index Key Visual
@media only screen and (max-width: 768px) {
    .home_page {
        h3 {
            margin-bottom: 30px;
            font-size: calc(var(--ttl_size) - 2px);
        }
    }
}



// End Index General
@media only screen and (max-width: 768px) {
    .index01 {
        padding: 60px 20px;
        background-image: url(../images/idx01_bg_sp.jpg);

        .timetable {
            margin-bottom: 0;

            table {
                font-size: 9px;
            }
        }

        .label {
            font-size: 7px;
        }

        .inner_big {
            padding: 60px 7vw 40px;
        }

        .idx01_box_infor {
            #calendar {
                height: 300px;
            }

            .box_left,
            .box_right {
                width: 100%;
                max-width: 650px;
                margin-left: auto;
                margin-right: auto;
            }

            .box_right {
                margin-top: 30px;
            }

            .btn-group {
                margin-top: 20px;
            }

            .infor_contact{
                margin-bottom: 30px;
            }
        }

        .news-group {
            .box_news {
                padding: 30px 20px;
            }
        }

        .box_news {
            width: 100%;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }


    }

    .index_banner {
        padding: 40px 10px;

        .bnr {
            width: 250px;
        }
    }

    .index07 {
        padding: 40px 20px;

        .box {
            width: 100%;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            min-height: 400px;
            padding: 40px !important;

            .ttl {
                font-size: 20px;
            }

        }
    }

    .index08 {
        .idx08_contact {
            padding: 60px 10px;

            .address {
                font-size: 16px;
            }
        }

        .idx08_link {
            .thumb {
                height: 80px;
            }

            .box {
                font-size: 15px;
            }
        }
    }
}

@media only screen and (max-width: 639px) {
    .index01 {
        .timetable {
            table {
                font-size: 1.4vw;
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    .index01 {
        .timetable {
            overflow: auto;

            table {
                font-size: 8px;
                width: 550px;
            }
        }

        .tbl_note {
            display: block;
        }
    }

    .index08 {
        .idx08_link {

            .col_l,
            .col_r {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .index07 {
        .box {
            padding: 40px 5vw !important;
        }
    }
}

@media only screen and (max-width: 375px) {
    .index01 {
        .inner_big {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .index01 .idx01_box_infor .infor_contact .tel {
        font-size: 20px;
    }
}


@media only screen and (max-width: 768px) {
    .index02 {
        h3{margin-bottom: 15px;}
        .btn-group{
            margin-top: 15px;
			.btn{
				margin: 10px;
			}
		}
    }
}


@media only screen and (max-width: 768px) {
    .index03{
        padding: 60px 0;
        background-image: url(../images/idx03_bg_sp.jpg);
        background-position: center;
		.block_trouble{
			&_content{
                max-width: 640px;
                width: 95%;
                margin: 0 auto;
                padding: 40px 8%;
                &::before{
                    font-size: 5.5px;
                }
            }
            &_img{
                max-width: 320px;
                width: 60%;
                margin: 0 auto;
            }
        }
        .listcheck{
			li{
                font-size: 16px;
                letter-spacing: 0.1em;
            }
        }
        .btn-group{
            .btn{margin-top: 25px;}
        }
    }
}
@media only screen and (max-width: 425px) {
    .index03{
        .block_trouble{
			&_content{
                &::before{font-size: 1.302vw;}
            }
        }
    }
}



@media only screen and (max-width: 768px) {
    .index04{
        padding: 60px 0;
        h4{
			font-size: 22px;
            letter-spacing: 0.1em;
			margin-bottom: 10px;
            line-height: 1.4;
		}
        .block_reason{
			&_item{
                min-height: 355px;
                max-height: 450px;
                height: 90vw;
                &:nth-child(1){
					.block_reason_img{
						img{object-position: right;}
					}
				}
                &:nth-child(3){
                    &::before{background-color: #495c2a;}
                    &::after{background-color: #95bb58;}
                    .block_reason_num{
                        &::before{background-color: #95bb58;}
                    }
                }
                
                &:nth-child(4){
                    &::before{background-color: #645844;}
                    &::after{background-color: #f8ae33;}
                    .block_reason_num{
                        &::before{background-color: #f8ae33;}
                    }
                }
            }
            &_content{
				padding: 34px 18px 22px;
			}
            &_num{
                left: 18px;
                font-size: 10px;
                padding: 1em 1.5em;
                span{
                    font-size: 300%;
                }
            }
        }
    }
}
@media only screen and (max-width: 374px) {
    .index04{
        h4{font-size: 20px;}
    }
}


@media only screen and (max-width: 768px) {
    .index05{
        padding: 60px 0;
		.block_endoscopy{
            padding: 0 20px;
            &_content{gap: 5px;}
            .col{
                padding: 40px 10px 40px;
                &_left{
                    background-image: url(../images/idx05_bg01_sp.jpg);
                    border-bottom: 1px solid #503320;
                }
                &_right{
                    background-image: url(../images/idx05_bg02_sp.jpg);                    
                }
            }
			.item{
                padding: 15px 5px 21px;
                max-width: 190px;
				width: calc(50% - 5px);
			}
            .title{font-size: 15px;letter-spacing: 0em;}
		}
        .btn-group {
            .btn{margin-top: 25px;}
        }
	}
}
@media only screen and (max-width: 374px) {
    .index05{
		.block_endoscopy{
            .title{font-size: 14px;}
        }
    }
}


@media only screen and (max-width: 768px) {
    .index06{
        padding: 60px 0;
        background-image: url(../images/idx06_bg_sp.jpg);
        .block_menu{
            &_item{
                width: calc(50% - 16px);
                margin: 8px;
                padding: 18px 15px 18px;
                figure{
                    margin-right: 2vw;
                    max-width: 50px;
                }
                .title{
                    font-size: 3vw;
                    letter-spacing: 0.05em;
                }
            }
        }
        .TabContainer {
            .TabPager{
                li{
                    padding: 11px 10px 13px;
                    .tt{
                        font-size: 18px;
                    }
                }
            }
            .TabContent{
                border-radius: 15px;
                > ul{
                    >li{
                        padding: 20px 15px 20px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 450px) {
    .index06{
        .block_menu{
            &_item{
                width: 100%;
                .title{font-size: 18px;}
            }
        }
        .TabContainer {
            .TabPager{
                li{
                    .tt{font-size: 18px;}
                }
            }
        }
    }
}
@media only screen and (max-width: 374px) {
    .index06{
        .TabContainer {
            .TabPager{
                li{
                    .tt{font-size: 16px;}
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {}



@media only screen and (max-width: 639px) {}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 375px) {}


@media only screen and (max-width: 768px) {
    .idx_gallery {


        ul {
            li {
                .img {
                    width: 220px;
                    height: 220px;
                    background-size: 100% auto;
                }
            }
        }
    }
}